## Lesson 2 : Variables in Python


Pre - requisite for this course
â€‹
1. A beginner
2. python installed System (IDE/Interpreter).
3. A notepad to take notes

### What are variables in python ?

Variables are nothing but reserved memory locations to store values. This means that when you create a variable you reserve some space in memory.

### Basic Syntax

Python variables do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable. The equal sign (=) is used to assign values to variables.

#### Declaring a variable and intialize it

In [37]:
count = 10   ### An integer value 10 assigned to count

In [38]:
name = "NintyZeros" ###A String value "NintyZeros" assigned to name

In [39]:
height = 2.8 ## A float type variables assiged

In [40]:
#Printing assigned variables

print("count :", count)
print("Name :", name)
print("Height :",height)

count : 10
Name : NintyZeros
Height : 2.8

### Can we do multiple assigment ?

In [41]:
a=b=c=1  ###Yes,of course we can bro!

In [42]:
print("a:", a," b :" , b," c : " ,c)

a: 1  b : 1  c :  1

### Local vs Global Variables

In [43]:
x = 0
def somefunction():
    x=1  ####Local variable
    print(x)
    
somefunction()    
print(x)

1
0

In [45]:
y = 0
def somefunction():
    global y####global variable
    y=1
    print(y)
    
somefunction()    
print(y)

1
1

In [10]:
### You can also delete the reference to a number object by using the del statement

In [46]:
del x,y

In [47]:
##  Reference gets deleted
print(x)

NameError: name 'x' is not defined

In [48]:
print(y)

NameError: name 'y' is not defined

## Standard Data Types in python

There are 5 Different standard datatypes

1. Number(int)
2. String(str)
3. List(list)
4. Tuple(tuple)
5. Dictionary(dict)

#### The Number

In [49]:
var1 = 1
var2 = 10

In [50]:
type(var1)

int

#### The String

In [51]:
var1 = "Hello"
var2= "World"
print(var1+" "+var2)

Hello World

In [52]:
type(var1)

str

In [18]:
print(var1[2:5]) ### Slicing the String

llo

## H->0 E->1 L->2 L->3 O->4

#### The List

In [53]:
list = [ 'Ninty', 786 , 2.23, 'Zeros', 70.2 ]

In [54]:
print(list)

['Ninty', 786, 2.23, 'Zeros', 70.2]

In [55]:
print(list[3])

Zeros

In [56]:
print(list*2)

['Ninty', 786, 2.23, 'Zeros', 70.2, 'Ninty', 786, 2.23, 'Zeros', 70.2]

In [57]:
type(list)

list

#### The Tuple

In [58]:
tuple = ( 'Ninty', 786 , 2.23, 'Zeros', 70.2 )

In [59]:
print(tuple)

('Ninty', 786, 2.23, 'Zeros', 70.2)

In [60]:
print(tuple[1])

786

In [ ]:
##Difference between list vs tuple

In [61]:
list[2] = 100000

In [62]:
print(list)

['Ninty', 786, 100000, 'Zeros', 70.2]

In [63]:
tuple(2) = 100000   ### Tou cannot update the tuple value

SyntaxError: can't assign to function call (<ipython-input-63-9202fd3b5500>, line 1)

#### The Dictionary

In [64]:
dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"

In [65]:
print(dict)

{'one': 'This is one', 2: 'This is two'}

In [66]:
type(dict)

dict

In [67]:
print(dict['one'])

This is one

In [68]:
print(dict[2])

This is two

In [69]:
print(dict.keys())

dict_keys(['one', 2])

In [70]:
print(dict.values())

dict_values(['This is one', 'This is two'])